@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.App {
  background: rgba(73, 126, 146, 1);
  margin: 0;
}

.Canvas {
  background-color: rgb(233, 233, 233);

  padding: 2rem;
  margin: 2rem;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(104, 104, 104, 0.49);
  box-shadow: 5px 5px 15px 5px rgba(104, 104, 104, 0.49);
  border-radius: 1rem;
}

.searchBar {
}
.input {
  background-color: rgb(218, 218, 218);
  height: 2.5rem;
  width: 100%;
  border-radius: 1rem;
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}
.searchIcon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.dataHeader {
  background-color: rgba(73, 126, 146, 1);
  color: white;
}

.dataHeaderCell {
  padding: 0.5rem;
  font-weight: 500;
}
